$white: #ffffff;
$yellow: #FFE711;
$yellow-hover: #eed626;
$light-grey: #F4F4F4;
$red: #e71616;
$grey-border: #CDCDCD;
$grey: #B0B1B6;
$soft-peach: #EFEFEF;
$desert-storm: #F8F8F8;
$dove-grey: #6c6c6c;
$platinum: #E3E3E3;
$pale-sky: #6F767E;
$nobel: #b1b1b1;
$aluminium: #AAB0B9;
$green-haze: #00A94F;
$mirage: #1A1D25;