@font-face {
  font-family: 'Neue Machina';
  src: url('../../public/NeueMachina-Medium.ttf');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Roboto';
  src: url("../../public/Roboto-Regular.ttf");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}